@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto';
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
}

#app {
    width: 50%;
}

button,
input,
.button,
textarea {
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: .1s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    flex-grow: 1;
    background-color: #f0f0f0;
}

a:visited {
    color: black;
}

input,
textarea {
    background-color: rgb(238, 238, 238);
    height: 22px;
}

button:hover,
.button:hover {
    cursor: pointer;
    filter: brightness(.95);
}

.delete {
    background-color: rgb(224, 61, 61);
    color: white;
}

.add {
    background-color: rgb(56, 182, 255);
    color: white;
}

.edit {
    background-color: rgb(56, 182, 255);
    color: white;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.no-flex-grow {
    flex-grow: 0 !important;
}

.editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}